body {
    background-color: #072932;
}

main {
    margin-top: 2%;
    margin-left: 5%;
    width:90%;


}


/* Start of CSS to include */

.aboutPage {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:x-large;
    background-color: lightgrey;
    border-radius: 25px;
}

.aboutIntro {
    display:grid;
    margin: 5%;
    padding: 2%;
    grid-template-columns: 60% 40%;
    column-gap: 2%;
    font-size:xx-large;
}

.aboutPicMe {
    margin:10%;
    grid-column-start: 2;
}

.aboutPhoto1 {
    width: 40%;
    border-radius: 25px;
}

.aboutRunDown{
    grid-column-start: 1;
    grid-row: 1;
}

.aboutStudies{
    display:grid;
    background-color: white;
    margin: 5%;
    grid-template-columns: 70% 30%;
    column-gap: 2%;
    padding: 2%;
    border-radius: 25px;
}

.aboutStudiesTxt {
    grid-column: 1;
}

.clarkeQuote{
    padding: 2%;
}

.aboutStudiesImg {
    grid-column: 2;
}

.hackerImg {
    width: 60%;
    margin: 10%;
}

.aboutWork{
    background-color: white;
    border-radius: 25px;
    margin: 5%;
    padding: 2%;
    display:grid;
    grid-template-columns: 30% 70%;
    column-gap: 2%;
}

.aboutWorkTxt{
    grid-column: 2;
}

.supportQuote{
    padding: 2%;
    padding-bottom: 5%;
}


.aboutWorkImg{
    grid-column: 1;
    grid-row: 1;
}

.aboutTechSupport {
    width: 60%;
    margin: 10%;
}

.aboutWorkXPLink {
    margin-top: 10%;
    display: grid;
    grid-template-columns: 80% 20%;
    column-gap: 2%;
    width: 40%;
    color: black;
    border-radius: 25px;
    text-decoration: none;
    border-color: black;
    border-width: 2%;
    border-style: solid;
}

.abtWrkXpLinkTxt {
    padding: 2%;
    grid-column: 1;
}

.abtWrkXpLinkImg{
    border-radius: 25px;
    padding: 2%;
    grid-column: 2;
}

.aboutLinkImg{
    width: 80%;
    margin: 10%;
}