
/* CSS Code for the header */

.header{
    padding: 2%;
    padding-bottom: 0.5%;
    padding-top: 0.5%;
    display:grid;
    grid-template-columns:20% 70% 10%;
    column-gap:10px;
    row-gap:10px;
    background-color: lightgrey;
    margin:0;
    border-radius: 25px;
    font-size: x-large;
}

.logo {
    margin-left: 30%;
    padding: 2%;
    width: 30%;
    margin-top: 2%;
    grid-column-start: 1;
    border-radius: 30px;
}

.mainNav {
    grid-column-start: 2;
    text-align: center;
    padding: 0;
    background-color: lightgrey;
}

.navBar {
    padding-top: 20px;
    grid-row-start:2;
    margin: 0;
    padding: 0;
    background-color: lightgrey;
    margin-top: 2%;
 
}

.navBar li{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: grey;
    color: black;
    display: inline-block;
    padding-left: 2%;
    padding-right: 2%;
    width: 15%;
    border-radius: 10px;
}

.navBar li.selected {
    margin: 0;
    height: 0;
}

.navBar a {

    color: black;
    float: none;
    display: block;
    text-align: center;
    padding: 5px 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-decoration: none;
    
}

.navBar a:hover {
    background-color: darkgrey;
    color: white;
    border-radius: 10px;
}

/* CSS for the main body of every page*/

body {
    background-color: #072932;
}

main {
    margin-top: 2%;
    margin-left: 5%;
    width:90%;
    border-radius: 25px;
    font-size: x-large;
}

/* CSS for the Home Page */

.homePage {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    border-radius: 25px;
}

.titleScreen {
    background-color: #072932;
    color: white;
    height: 70%;
    text-align: center;
    margin:0;
    margin-top: 0;
    margin-bottom:0;
    font-size: xx-large;
}

.titleScreen h1 {
    margin: 0;
    padding: 15%;

}

.homearrows {
    text-align: center;
    margin-bottom: 5%;
}

.uparrows {
    width: 5%;
}

/* The four sections for moving to the different pages */

.fourSections {
    display:grid;
    text-decoration: none;
    color: black;
    grid-template-columns: 50% 50%;
    background-color: lightgray;
    border-radius: 25px;
    font-size: x-large;
}


/* For the section on the about me page */

.homeAbout {
    grid-column: 1;
    grid-row: 1;
    margin: 5%;
    padding: 5%;
    border-color: black;
    background-color: white;
    border-radius: 25px;
    display:grid;
    text-decoration-line: none;
    color: black;
    grid-template-columns: 55% 40%;
    column-gap: 5%;
}

.homeAboutText {
    grid-column: 1;
    text-decoration: none;

}

.homeAboutImage {
    grid-column: 2;
    float: none;
}

.picOfMe {
    padding: 5%;
    width: 90%;
}

/* Section for projects on the home page */

.homeProjects{
    grid-column: 2;
    grid-row: 1;
    margin: 5%;
    padding: 5%;
    border-color: black;
    background-color: white;
    border-radius: 25px;
    display: grid;
    grid-template-columns: 55% 40%;
    column-gap: 5%;
    text-decoration-line: none;
    color: black;
}

.homeProjectsText {
    grid-column: 1;
    height: 50%;
}

.homeProjectsImage {
    grid-column: 2;
}

.projectPic{
    width: 90%;
    padding: 5%;
    float: none;
}

/* Work experience section on the home page */

.workXP {
    margin: 5%;
    text-decoration-line: none;
    color: black;
    padding: 5%;
    border-color: black;
    background-color: white;
    border-radius: 25px;
    display: grid;
    grid-template-columns: 55% 40%;
    column-gap: 5%;
}


.homeWorkXPText {
    grid-column: 1;
}

.homeWorkXPImg {
    grid-column: 2;
}

.xpPic {
    width: 90%;
    padding: 5%;
    float: none;
}

/* Section for contacts on the home page */

.homeContact{
    margin: 5%;
    padding: 5%;
    text-decoration-line: none;
    color: black;
    border-color: black;
    background-color: white;
    border-radius: 25px;
    display: grid;
    grid-template-columns: 55% 40%;
    column-gap: 5%;
}

.homeContactText {
    grid-column: 1;
}

.homeContactImg {
    grid-column: 2;
}

.contactPic{
    width: 90%;
    padding: 5%;
    float: none;
}


/* CSS for the footer of every page */

.footer {
    display: grid;
    color: white;
    grid-template-columns: 33% 33% 33%;
    column-gap: 10px;
    margin-left: 5%;
    padding: 1%;
    width:88%;
    background-color: grey;
    height:10%;
    border-radius: 25px;
    font-size: large;
}

.footerLeft{
    padding-top: 5%; 
}

.footerCenter {
    padding-top: 5%;
    text-align: center;
}

.footerRight {
    padding-top: 5%;
    text-align: right;
}


/* CSS FOR ABOUT PAGE */

.aboutPage {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:x-large;
    background-color: lightgrey;
    border-radius: 25px;
    padding-bottom: 0.5%;
}

.aboutIntro {
    display:grid;
    margin: 5%;
    padding: 2%;
    grid-template-columns: 70% 30%;
    column-gap: 2%;
    font-size:xx-large;
    margin-bottom: 2%;
}

.aboutPicMe {
    margin:10%;

    grid-column-start: 2;
}

.aboutPicMe2{
    width: 60%;
    padding: 7%;
    border-radius: 25px;
    border-color: grey;
    border-style: solid;
    background-color: lightgrey;
}

.aboutPhoto1 {
    width: 100%;
    border-radius: 25px;
}

.aboutRunDown{
    grid-column-start: 1;
    grid-row: 1;
}

.aboutStudies{
    display:grid;
    background-color: white;
    margin: 5%;
    margin-top: 2%;
    grid-template-columns: 70% 30%;
    column-gap: 2%;
    padding: 2%;
    border-radius: 25px;
}

.aboutStudiesTxt {
    grid-column: 1;
}

.clarkeQuote{
    padding: 2%;
}

.aboutStudiesImg {
    grid-column: 2;
}

.hackerImg {
    width: 60%;
    margin: 10%;
}

.aboutWork{
    background-color: white;
    border-radius: 25px;
    margin: 5%;
    padding: 2%;
    display:grid;
    grid-template-columns: 30% 70%;
    column-gap: 2%;
}

.aboutWorkTxt{
    grid-column: 2;
}

.supportQuote{
    padding: 2%;
    padding-bottom: 5%;
}


.aboutWorkImg{
    grid-column: 1;
    grid-row: 1;
}

.aboutTechSupport {
    width: 60%;
    margin: 10%;
}

.aboutWorkXPLink {
    margin: 5%;
    margin-top: 8%;
    margin-bottom: 3%;
    display: grid;
    grid-template-columns: 70% 30%;
    column-gap: 2%;
    width: 40%;
    color: black;
    border-radius: 25px;
    text-decoration: none;

    background-color: lightblue;

}

.abtWrkXpLinkTxt {
    padding: 2%;
    padding-left: 5%;
    padding-top: 5%;
    grid-column: 1;
}

.abtWrkXpLinkImg{
    border-radius: 25px;
    padding: 2%;

    grid-column: 2;
}

.aboutLinkImg{
    width: 60%;
    margin: 10%;
}

/* CSS FOR PROJECT PAGE */
.projectsPage {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.projectsIntro {
    margin:2%;
    padding: 2%;
    border-radius: 25px;
    background-color: lightgray;
    display: grid;
    grid-template-columns: 70% 30%;
    column-gap: 2%;
}

.projectsIntTxt {

    padding: 2%;
    border-radius: 25px;
    width: 78%;
}

.projectsIntImg {

    padding: 2%;
    border-radius: 25px;
    width: 30%;
    text-align: center;
}

.projectsPhoto1{
    width: 100%;
}

.corporateProjects {
    margin: 2%;
    background-color: lightgrey;
    border-radius: 24px;
    padding: 1%;
}

.corpProj1{
    margin-top: 3%;
    background-color: white;
    padding: 2%;
    border-radius: 25px;
    display:grid;
    grid-template-columns: 80% 20%;
    column-gap: 2%;
}

.corpProj1Img {
    text-align: center;
}

.projectsPhoto2 {
    margin-top: 10%;
    width:60%;
}

.corpProj2{
    margin-top: 3%;
    background-color: white;
    padding: 2%;
    border-radius: 25px;
    display:grid;
    grid-template-columns: 80% 20%;
    column-gap: 2%;
}

.corpProj2Img {
    text-align: center;
}

.projectsPhoto3 {
    margin-top: 10%;
    width:60%;
}


.personalProjects {
    margin: 2%;
    background-color: lightgrey;
    border-radius: 24px;
    padding: 1%;
}

.persProj1 {
    margin-top: 3%;
    background-color: white;
    padding: 2%;
    border-radius: 25px;
    display:grid;
    grid-template-columns: 20% 80%;
    column-gap: 2%;
}

.persProj1Txt{
    grid-column: 2;
}

.persProj1Img {
    grid-column:1;
    grid-row:1;
    text-align: center;
}

.projectsPhoto4 {
    margin-top: 10%;
    width:60%;
}

.persProj2 {
    margin-top: 3%;
    background-color: white;
    padding: 2%;
    border-radius: 25px;
    display:grid;
    grid-template-columns: 20% 80%;
    column-gap: 2%;
}

.persProj2Txt{
    grid-column: 2;
}

.persProj2Img {
    grid-column:1;
    grid-row:1;
    text-align: center;
}

.projectsPhoto5 {
    margin-top: 10%;
    width:60%;
}