.header{

    padding: 2%;
    padding-bottom: 0.5%;
    padding-top: 0.5%;
    display:grid;
    grid-template-columns:20% 70% 10%;
    column-gap:10px;
    row-gap:10px;
    background-color: grey;
    margin:0;
}

.logo {
    margin-left: 30%;
    width: 40%;
    margin-top: 2%;
    grid-column-start: 1;
}

.Search {
    background-color: grey;
}

.mainNav {
    grid-column-start: 2;
    display:grid;
    text-align: center;
    padding: 0;
    background-color: grey;
}

.navBar {
    grid-row-start:2;
    margin: 0;
    padding: 0;
    background-color: grey;
    display: grid;
    column-gap: 10px;
    grid-template-columns: 18.8% 18.8% 18.8% 18.8% 18.8%;
}

.navBar li{
    display: inline-block;
    background-color: blue;
}

.navBar a:link,
.navBar a:visited {
    color: white;
    text-decoration-line: unset;
}

.navBar li:link,
.navBar li:visited {
    color: white;
}

/*
    Makes it so the individual buttons in the navigation bar change colour when the cursor is hovered over them
*/
.navBar a:hover,
.navBar a:focus {
    color: black;
    background: white;
}

.navBar li:hover,
.navBar li:focus {
    background: white;
}










body {
    background-image: url("Sea1.jpg");
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: 100% 100%;
}



main {
    margin-top: 2%;
    margin-left: 5%;
    padding: 1%;
    width:90%;
    background-color: white;
    height: 80%;
}

.footer {
    text-align: center;
    margin-left: 5%;
    padding: 1%;
    width:90%;
    background-color: grey;
    height:10%;
}